.titles p {
  color: var(--main-primary, #8053FF);
  font-size: 18px;
  font-weight: 600;
  line-height: 155.556%;
}

.titles h2 {
  color: var(--main-body, #23155B);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 123.077%;
  letter-spacing: 1.04px;
}

.titles h2 span {
  color: var(--main-primary, #8053FF);
  font-size: inherit;
}