.bg {
  border-radius: 250px 0 0 0;
  background: linear-gradient(180deg, #FBFAFF 29.73%, #FFF 100%);
  position: relative;
}

.bg::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 250px 0 0 0;
  background: url('/section-four-shape.svg');
  background-size: 100% 100%;
}

.container>*:not(:last-child) {
  margin-bottom: 40px;
}

.container * {
  z-index: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  grid-column: 2 / 12;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  grid-column: 2 / 12;
}

.buttons {
  width: 476px;
  grid-column: 2 / 12;
}

.buttons :first-child {
  margin-right: 12px;
}